// Colors
$backgroundColor: #d04925;
$backgroundColorDark: #992e24;
$textColorLight: #fff;
$textColor: #646464;
$textColorDark: #333;

//Placeholders
%container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

//Mixins
@mixin phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin tablet-portrait {
  @media (min-width: 600px) { @content; }
}
@mixin tablet-landscape {
  @media (min-width: 900px) { @content; }
}
@mixin desktop {
  @media (min-width: 1200px) { @content; }
}
@mixin large-desktop {
  @media (min-width: 1800px) { @content; }
}
