#home {
  background: #DC143C;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  header,
  .contact {
    visibility: hidden;
    opacity: 0;
  }
  
  header {
    text-align: center;

    > svg {
      width: 100px;
      margin-bottom: 20px;
    }

    h1, p {
      cursor: default;
      color: #fff;
    }
    
    h1 {
      font-size: 3rem;
      margin-bottom: 10px;
    }
    
    p {
      font-weight: 400;
    }
  }
  
  .contact {
    margin-top: 30px;
    text-align: center;
  }  
}
