@import './variables';

.navbar {
  width: 100vw;
  padding: 20px 40px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;

  .logo {
    width: 50px;
  }

  &__container {
    list-style: none;
    max-width: 1200px;
    align-self: center;
  }

  &__item {
    display: inline-block;
    padding: 0 20px;

    a {
      text-decoration: none;
      color: $textColor;
      font-weight: 700;
      font-size: 20px;
      position: relative;
      &:hover::after,
      &.active::after {
        width: 100%;
      }
    }

    a::after {
      position: absolute;
      display: block;
      width: 0;
      height: 2px;
      transition: width .3s ease-in-out;
      background-color: $textColor;
      content: '';
    }
  }
}
